# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temp files
*~

# Archives
*.tar
*.gz

# CMake Files

# Programs
percolation

# Backups
*.bak

# Output files
*.cluster
*.walks

# Python files
*.pyc

# PyCharm
.idea/

# Notebooks
.ipynb_checkpoints/
